<div class="container" #Main *ngIf="CheckValue; else finalPage">
  <ng-template #Removed> </ng-template>
  <div class="row main-row" *ngIf="cart_items.length; else EmptyCart">
    <div class="col-md-6 card-column">
      <div class="div-card">
        <div class="card" *ngFor="let product of cart_items">
          <div class="row">
            <div class="col-md-3">
              <img
                src="{{ product.url }}"
                class="card-img-top"
                alt="This is image"
              />
            </div>

            <div class="col-md-9 card-content">
              <app-removemessage
                (removeFeedback)="Remove_Message($event, product.id)"
              ></app-removemessage>
              <!--
              <button (click)="delete_Order(product.id)" class="delete">
                <img
                  src="../assets/close-button.png"
                  alt="no image"
                  class="delete-img"
                />
              </button>
              -->
              <div class="product-info">{{ product.name }}</div>
              <div class="product-info">${{ product.price }}</div>
              <div class="product-info">
                <label for="amount" class="cardLabel">amount:</label>
                <select
                  #optionValue
                  (change)="selectOption(product, optionValue.value)"
                  class="select-item"
                >
                  <!--Needs to modify Also, It may cause some issue while adding-->
                  <option
                    *ngFor="let x of ['1', '2', '3', '4']"
                    [ngValue]="x"
                    [selected]="product.amount === x"
                  >
                    {{ x }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="div-total">
        <h4 class="total">Total : ${{ costs }}</h4>
      </div>
    </div>
    <div class="col-md-6">
      <!--
        <app-user-details (checkout)="checkout($event)"></app-user-details>
        -->
      <div class="form-details">
        <form #form="ngForm" (ngSubmit)="onSubmit()" [formGroup]="TheUser_Form">
          <div class="form-group">
            <label for="User_name">Full Name</label>
            <input
              type="text"
              class="form-control"
              id="User_name"
              formControlName="myname"
              [(ngModel)]="name"
              placeholder="(minimum 3 characters)"
              name="name"
              required
              minlength="3"
              pattern="([a-zA-Z]+\s)+([a-zA-Z]+)"
            />
            <div
              *ngIf="
                myforms['myname']?.invalid &&
                (myforms['myname']?.dirty || myforms['myname']?.touched)
              "
            >
              <div *ngIf="myforms['myname']?.errors?.['required']">
                Your Name is required here.
              </div>
              <div *ngIf="myforms['myname']?.errors?.['minlength']">
                Your Name is must be 3 characters or more.
              </div>
              <div *ngIf="myforms['myname']?.errors?.['pattern']">
                You have enter your full name as string with space
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="user_address">Address</label>
            <input
              type="text"
              class="form-control"
              id="user_address"
              placeholder="(minimum 6 characters)"
              name="user_address"
              [(ngModel)]="user_address"
              required
              formControlName="useraddress"
              minlength="6"
            />

            <div
              *ngIf="
                myforms['useraddress']?.invalid &&
                (myforms['useraddress']?.dirty ||
                  myforms['useraddress']?.touched)
              "
            >
              <div *ngIf="myforms['useraddress']?.errors?.['required']">
                Your address is required here.
              </div>
              <div *ngIf="myforms['useraddress']?.errors?.['minlength']">
                Your address is must be 6 characters or more.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="credit_number">Credit Card Number</label>
            <input
              type="text"
              pattern="^\d+(.\d{1,2})?$"
              class="form-control"
              id="credit_number"
              placeholder="(minimum 16 digits)"
              name="credit"
              [(ngModel)]="credit"
              minlength="16"
              required
              formControlName="usercredit"
            />
            <div
              *ngIf="
                myforms['usercredit']?.invalid &&
                (myforms['usercredit']?.dirty || myforms['usercredit']?.touched)
              "
            >
              <div *ngIf="myforms['usercredit']?.errors?.['required']">
                Your credit card is required here.
              </div>
              <div *ngIf="myforms['usercredit']?.errors?.['minlength']">
                Your credit card is must be 16 characters or more.
              </div>

              <div *ngIf="myforms['usercredit']?.errors?.['pattern']">
                You have to enter digital numbers
              </div>
            </div>
            <small id="small-text" class="form-text text-muted"
              >We'll never share your payment details with anyone else.</small
            >
          </div>

          <input
            [disabled]="form.invalid"
            type="submit"
            value="Buy"
            class="submitOrder"
          />
        </form>
      </div>
    </div>
  </div>
  <!--
  <app-submitorder [name]="name" [price]="costs"></app-submitorder>
  -->
</div>

<ng-template #finalPage>
  <app-submitorder [UserName]="name" [Total]="costs"></app-submitorder>
</ng-template>

<ng-template #EmptyCart>
  <div class="div-img">
    <img src="../assets/empty-cart.png" alt="no image" class="logo" />
  </div>
  <div>
    <h3>The Cart is Empty</h3>
    <br />
    <a routerLink="/"><p>Back to Home Page</p></a>
  </div>
</ng-template>
